@import "visually-hidden";
@import "container";
@import "body";
@import "header";
@import "hero";
@import "site-aforizm";
@import "site-service";
@import "site-work";
@import "site-articles";
@import "site-connect";
@import "footer";

