.site-aforizm{
  position: relative;
  text-align: center;
  margin-bottom: 191px;
&::before{
  position: absolute;
  top: -40px;
  left: 45%;
  content: "";
  background-image: url(../../images/Line.svg);
  background-repeat: no-repeat;
  width: 140px;
  height: 5px;
}
&::after{
  position: absolute;
  bottom: 40px;
  left: 45%;
  content: "";
  background-image: url(../../images/Line.svg);
  background-repeat: no-repeat;
  width: 140px;
  height: 5px;
}
}
.site-aforizm__blockquote{
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  width: 753px;
  margin: 0 auto;
  margin-bottom: 70px;
  &::before{
  position: absolute;
  left: 215px;
  top: -25px;
  content: "";
  background-image: url(../../images/qushtirnoql.svg);
  background-repeat: no-repeat;
  width: 142px;
  height: 128px;
  }
  &::after{
    position: absolute;
    right: 115px;
    top: 40px;
    content: "";
    background-image: url(../../images/qushtirnoqr.svg);
    background-repeat: no-repeat;
    width: 142px;
    height: 128px;
    }
 }
// .site-aforizm__strong{
// }