.site-service{
  margin-bottom: 127px;
}
.site-service__title{
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  display: flex;
  justify-content: center;
  color: #333333;
}
.site-service__list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
 
}
.site-service__item{
  list-style: none;
  width: 193px;
  height: 201px;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 100px 32px 28px 35px;
  &:nth-child(1){
    position: relative;
    border-bottom:none ;
    height: 200px;
    bottom: -17px;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/doctor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 35px;
      left: 70px;
      width: 55px;
      height: 77px;
    }
    
  }
  &:nth-child(2){
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/ocmotr.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 35px;
      left: 70px;
      width: 55px;
      height: 77px;
    }
    
  }
  &:nth-child(3){
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/dog.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 35px;
      left: 70px;
      width: 55px;
      height: 77px;
    }
    
  }
  &:nth-child(4){
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/dermotologiya.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 35px;
      left: 70px;
      width: 55px;
      height: 77px;
    }
    
  }
  &:nth-child(5){
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/mikroscope.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 35px;
      left: 70px;
      width: 55px;
      height: 77px;
    }
    
  }
  &:nth-child(6){
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/oftalmologiya.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 35px;
      left: 70px;
      width: 55px;
      height: 77px;
    }
    
  }
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}
.site-service__item-link{
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;

}
.site-service__info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 105px 43px 35px;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 5px;

}
.site-service__info-img{
  width: 524px;
  height: 329px;
  margin-right: 67px;
}
.site-service__inner{
  width: 492px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .site-service__title{
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
  }
}
.site-service__text{
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  padding: 0;
  &:nth-child(3){
    margin-top: 9px;
    margin-bottom: 34px;
  }
}
.site-service__link{
  display: inline-block;
}
.site-service__link{
  position: relative;
  background-color: #FFBD54;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px 36px 16px 35px;
  color: #fff;
  margin-right: 21px;
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  &::before{
    content: "";
    position: absolute;
    background-image: url(../../images/money.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    left: 10px;
    height: 21px;
  }
  &:hover{
    color: #FFBD54;
    background-color: #333333;
  }
  &:active{
    opacity: 0.6;
  }
}
.site-service__link-black{
  position: relative;
  padding: 15px 37px 14px 64px;
  background-color: #333333;
  border-radius: 3px;
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 21px;
  color: #FFFFFF;
  &::before{
    content: "";
    position: absolute;
    background-image: url(../../images/document.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    left: 40px;
    top: 15px;
    height: 21px;
  }
  &:hover{
    color: #333333;
    background-color: #FFBD54;
    border-radius: 3px;
  }
  &:active{
    opacity: 0.6;
  }
}