.site-connect{
  margin-bottom: 247px;
}
.site-connect__sec{
  display: flex;
}
.site-connect__iframe{
  width: 462px;
  height: 652px;
  border: none;
}
.site-connect__info{
  padding: 62px 449px 66px 166px;
  background-color: #333333;
  background-image: url(../../images/fish-form.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.site-connect__title{
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 14px;
}
.site-connect__text{
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  width: 334px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  margin-bottom: 29px;
}
.site-connect__input{
  width: 375px;
  padding: 16px 180px 13px 22px;
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #949494;
  margin-bottom: 14px;
}
.site-connect__text-area{
  width: 375px;
  height: 165px;
  resize: none;
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #DBDBDB;
  padding: 17px 103px 86px 22px;
  margin-bottom: 30px;
  overflow-y: hidden;
  text-align: start;
}
.site-connect__button{
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #FFBD54;
  border: none;
  border-radius: 0px;
  padding: 15px 49px 14px 50px;
  &:hover{
    color: #FFBD54;
    border: 1px solid #FFBD54;
    background-color: #333333;
  }
  &:active{
    opacity: 0.6;
  }
}